<section>
    <div id="content">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <h1>What is openage?</h1>

                    <h4>openage is a free and open-source game engine for developing sprite-based RTS-games.</h4> <br/>

                    <p>While initially starting in 2013 as a reimplementation of the Genie engine in the state of art,
                        openage was developing to a much bigger project and far more than just ideas of improvements over 
                        the 20 years old engine. In fact openage will be a completely fresh RTS game engine that can be used by anyone to create their own new games with "Age of Empires"-like gameplay or to use openage to publish their total-conversions as standalone games.</p> 

                    <p>openage has a lot of improvements over the original components. It adds completely new features on
                        top and provides better performance due to different design decisions being made from the beginning on, e.g. being multithreaded and using modern technologies like Vulkan rendering or our self-designed entity-component-system nyan.</p>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#content -->

</section>
