<section>
    <div id="content">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <h1>Converter</h1>

                    <h4>openage provides a converter module that transforms the assets of several Genie Engine games
                        into a modern format.</h4> </br>

                    <p>The converter is able to convert the assets used by Age of Empires I and II including their
                        Definitive Editions and Star Wars: Galactic Battlegrounds.</br>
                        There are also some projects that are interested in using openage to publish their standalone
                        games, that we will announce at a later stage of development.</p>

                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#content -->
</section>
