<section>
    <div id="content">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <h1>Converter</h1>

                    <p>openage provides a converter module that transforms the assets of several Genie Engine games
                        and mods for them into a modern and open formats.</p> </br>

                    <p>The converter is able to convert the assets used by Age of Empires I and II including their
                        Definitive Editions and Star Wars: Galactic Battlegrounds.</br>
                        If you are creating total-conversions and want to publish a standalone game get in touch with us to speak about the details.</p>

                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#content -->
</section>
