<section>
    <div id="content">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <h1>Where can I get openage?</h1>

                    <p>You can find links for downloading binary packages of openage for different platforms on the <a class="download-button" href="download/">Download</a> page.</p>

                    <p>But beware! openage is still under <b>heavy development</b> and its' API is considered unstable. We will frequently add new features that could break compatibility to older release. So please don't use it for productive work still. But feel free to play around with it.</p>

                </div>
                <!-- /.col-md-12-->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#content -->

</section>
