<footer class="footer__FooterContainer-z4ytn7-0 footer dksbIf" id="footer">
    <div class="common__ContentTube-mnkyra-3 kooccR">
        <div class="columns">
            <div class="footer__Links-z4ytn7-2 column is-quarter cdMWZV">
                <h4 class="is-size-6">Project</h4>
                <ul>
                    <li><a href="https://blog.openage.sft.mx/" rel="noopener noreferrer" target="_blank">DevBlog</a>
                    </li>
                    <li><a href="https://github.com/SFTtech/openage" rel="noopener noreferrer"
                           target="_blank">GitHub</a></li>
                </ul>
            </div>
            <div class="footer__Links-z4ytn7-2 column is-quarter cdMWZV">
                <h4 class="is-size-6">Community</h4>
                <ul>
                    <li><a href="https://riot.im/app/#/room/#sfttech:matrix.org" rel="noopener noreferrer"
                           target="_blank">Matrix Chat</a></li>
                    <li><a href="https://www.reddit.com/r/openage/" rel="noopener noreferrer" target="_blank">Reddit</a>
                    </li>
                </ul>
            </div>
            <div class="footer__Links-z4ytn7-2 column is-quarter cdMWZV">
                <h4 class="is-size-6">Foundation</h4>
                <ul>
                    <li><a href="https://liberapay.com/SFTtech" rel="noopener noreferrer" target="_blank">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
