<div class="common__Sections-mnkyra-4 jizGYg">
    <section class="section">
        <div class="common__ContentTube-mnkyra-3 kooccR">
            <div class="columns reversed">
                <div class="pages__SectionContent-d12doh-11 column is-half fewgEL">
                    <h2 class="is-size-2">High Performance</h2>
                    <div class="content ">
                        <p>Amethyst uses a rigorous <a href="https://en.wikipedia.org/wiki/Entity%E2%80%93component%E2%80%93system" rel="noopener"
                                                       target="_blank">Entity
                            Component System (ECS)</a> architecture to organize game logic. This abstracts away some of
                            the parallelism work, allowing easier exploitation of multi-threading in games. The ECS is
                            rich in features and very efficient, as it never does any memory locking while remaining
                            entirely thread-safe.</p>
                    </div>
                </div>
                <div class="pages__SectionImage-d12doh-12 column is-half gSVuuY"><img
                        alt="3d"
                        src="https://amethyst.cdn.prismic.io/amethyst/a95c2e9239d00df0f71804c6efa75e4ceff5fbcd_screenshot_20190510_182935.png"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="common__ContentTube-mnkyra-3 kooccR">
            <div class="columns reversed">
                <div class="pages__SectionContent-d12doh-11 column is-half fewgEL">
                    <h2 class="is-size-2">Built for 2D and 3D</h2>
                    <div class="content ">
                        <p>Amethyst uses <a href="https://github.com/gfx-rs/gfx" rel="noopener"
                                            target="_blank">gfx-rs</a> to render graphics with
                            Vulkan or Metal. It is meant to be used for 2D and 3D, with various utilities for both types
                            of games. It should be beginner friendly but also allow more advanced uses such as custom
                            render passes and GLSL shaders.</p>
                    </div>
                </div>
                <div class="pages__SectionImage-d12doh-12 column is-half gSVuuY"><img
                        alt="3d"
                        src="https://amethyst.cdn.prismic.io/amethyst/1f5c4b83dae11dd5954fb00461e6e419bb97dfb1_image0.jpg"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="common__ContentTube-mnkyra-3 kooccR">
            <div class="columns reversed">
                <div class="pages__SectionContent-d12doh-11 column is-half fewgEL">
                    <h2 class="is-size-2">A Stable Foundation</h2>
                    <div class="content ">
                        <p>Thanks to the <a href="https://www.rust-lang.org/" rel="noopener" target="_blank">Rust
                            programming language</a>, Amethyst uses all CPU cores to run its internals and logic. A lot
                            of optimizations have yet to be done, but the current status is already showing great
                            potential.</p>
                    </div>
                </div>
                <div class="pages__SectionImage-d12doh-12 column is-half gSVuuY"><img
                        alt="3d"
                        src="https://amethyst.cdn.prismic.io/amethyst/1b3ede4803da8543a7f5cb9224b7743143587a0f_code-example1.png"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="common__ContentTube-mnkyra-3 kooccR">
            <h2 class="pages__SliceTitle-d12doh-9 is-size-3 evFVMG">Free with very permissive usage</h2>
            <div class="content ">
                <p>Amethyst is open source and free software. You can use, read, modify, distribute its source code
                    under the permissive <strong>MIT</strong> and <strong>Apache 2.0 licenses</strong>, and it is
                    important to us that it remains that way. The strength of the community keeps Amethyst going
                    forward, through the contributions of <a href="https://github.com/amethyst/amethyst/graphs/contributors" rel="noopener"
                                                             target="_blank">awesome
                        people</a>. Come visit us on <a href="https://github.com/amethyst/amethyst" rel="noopener"
                                                        target="_blank">GitHub</a>!</p>
            </div>
        </div>
    </section>
    <section class="section has-text-centered">
        <div class="common__ContentTube-mnkyra-3 kooccR">
            <h2 class="pages__SliceTitle-d12doh-9 is-size-3 evFVMG">Sponsors</h2>
            <div class="columns">
                <div class="column is-half is-offset-3">
                    <div class="content ">
                        <p>Amethyst is supported by its community and the following companies:</p>
                    </div>
                </div>
            </div>
            <div class="pages__ImageList-d12doh-8 columns is-multiline hbpEIg">
                <div class="column is-one-third"><a href="https://www.netlify.com/" target="_blank"><img
                        alt="sponsor: netlify"
                        src="https://amethyst.cdn.prismic.io/amethyst/a0346f58d5c1e03457ab08108b04f39c2ecc702f_full-logo-light.png"></a></div>
                <div class="column is-one-third"><a href="https://embark.games/" target="_blank"><img
                        alt="sponsor: "
                        src="https://amethyst.cdn.prismic.io/amethyst/69a5d15211f041de3b00ce6ea84a7ff938597ccc_embark.png"></a></div>
                <div class="column is-one-third"><a href="https://www.digitalocean.com/" target="_blank"><img
                        alt="sponsor: digitalocean"
                        src="https://amethyst.cdn.prismic.io/amethyst/f6df60cd02aef41847e370ccf01a25540f7bbcc4_digitalocean-2-logo-png-transparent.png"></a></div>
                <div class="column is-one-third"><a href="https://sentry.io/welcome/" target="_blank"><img
                        alt="sponsor: "
                        src="https://amethyst.cdn.prismic.io/amethyst/a4d93973437b1f267df7f7fcc9a628b0a6c168bb_sentry-logo-black.png"></a></div>
                <div class="column is-one-third"><a href="https://jfrog.com/" target="_blank"><img
                        alt="sponsor: "
                        src="https://amethyst.cdn.prismic.io/amethyst/f20b98f5d7721bd3d3dd22db6afc5fc06d7b3f86_jfrog-green---transparent.png"></a></div>
            </div>
        </div>
    </section>
    <section class="section has-text-centered">
        <div class="common__ContentTube-mnkyra-3 kooccR"><img
                alt="example"
                src="https://amethyst.cdn.prismic.io/amethyst%2F46fcadd9-f936-4959-ae26-5b1927d07a45_logo-standard.svg">
            <h2 class="pages__SliceTitle-d12doh-9 is-size-3 evFVMG">Get Started</h2>
            <div class="columns">
                <div class="column is-half is-offset-3">
                    <div class="content ">
                        <p>You can easily get started using <a href="https://www.amethyst.rs/book/latest/" rel="noopener"
                                                               target="_blank">our book
                            guide</a> which goes through the basics of creating a game using Amethyst. If you need any
                            help on the way, feel free to visit <a href="https://community.amethyst.rs/" rel="noopener"
                                                                   target="_blank">our community
                                forums</a> and <a href="https://discord.gg/amethyst" rel="noopener" target="_blank">our
                                Discord server</a>!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
