<section>
    <div id="content">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <h1>Who is developing openage?</h1>

                    <p>There is a "core dev team" behind openage, that works on it their spare time, but since we all
                        have other life-originating interrupts and fluctuating motivation, our activity will alternate
                        equally over time (just take a look at the commit statistics). The "core devs" have known each
                        other personally for a long time; thus, communication happens mostly over private channels
                        (XMPP, Mumble, maybe even real life).</p>

                    <p>In addition to the core developers, there are also many contributors from different communities
                        around the Age of Empires franchise. We are developing openage at Github and everyone is invited
                        to contribute.</p>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#content -->
</section>
