/* from https://redstapler.co/responsive-css-video-background/ */

html,body {
    width:100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    z-index: -1;
}

#backvid{
    margin: 0em;
    padding: 0em;
    position: fixed;
    z-index: -2;
}

@media (min-aspect-ratio: 16/9) {
    #backvid {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #backvid { 
        width:auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
}

#darken{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#main{
    display: flex;
    flex-direction: row;
}

#logo{
    margin-top: 30vh;
    margin-left: 7vw;
    height: 20vh;
    z-index: 1;
}

#left{
    z-index: 1;
}

h1{
    font-size: 2.6vh;
    margin-left: 8vw;
    width:88vh;
    color: white;
    z-index: 100;
    padding: 0;
}

a, a:visited{
    color: white;

}

#mainbuttons{
    display: flex;
    flex-direction:row;
    width: 50vh;
    margin-left: 7vw;
    margin-top: 3vh;
}

#button, #button:visited{
    color: white;
    text-decoration: none;
    padding: 1vh;
    border: 0.1vh solid white;
    border-radius: 1vh;
    white-space: nowrap;
}

#button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#mainbuttons #button{
    font-size: 2vh;
    margin-left: 11vh;
}

#rightcontainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vh;
    min-width: 10vw;
}

#right p{
    font-size: 2vh;
    text-align: justify;
    color: gainsboro;
}

#otherbuttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
}

#otherbuttons #button,#otherbuttons #button:visited{
    font-size: 1vw;
    color: gainsboro;
    border: 0.1vh solid gainsboro;
    margin-left: 2vw;
    margin-right: 2vw;
}

#touch{
    margin-top: 3vh;
}

#end{
    bottom: 0;
    right: 0;
    margin-bottom: 1vh;
    margin-right: 1vh;
    position: fixed;
    color: gainsboro;
}